// .search-item{
//     border: 1px solid #333333;
//     padding: 8px;
// }
// .btn-search{
//     padding: 8px;
//     background: #333333;
//     color: white;
//     cursor: pointer;
// }
img{
    width: 100%;
}
.products{
    .item{
        border: 1px solid #333333;
        padding: 20px;
    }
}
.cart{
    margin: 40px;
    i{
        font-size: 50px;
    }
    span{
        font-size: 30px;
    }
}
.add{
    background: #333333;
    padding: 10px;
    color: honeydew;
    cursor: pointer;
}